<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pccontroller">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="PC Controller"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- MAIN SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- QR SCANNER (SECONDARY) -->
        <activity
            android:name=".QRScannerActivity"
            android:exported="false"/>
    </application>
</manifest>
